body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#pointage_page_container {
    width : 100% ;
    margin: auto ;
}

#top_action_bar {
        width          : 100%    ; 
        height         : 60px    ;

	display        : flex    ;
	justify-content: center  ;
        align-items   : center   ;
	margin-bottom : 20px     ;
}

.top_bar_item {
	margin-right  : 10px     ;
}

#pointageForm {
	height        : 60px     ;

    	display       : flex     ;
    	align-items   : center   ;
    	gap           : 10px     ;
}

label#pointage_month_label{
	height        : 100%     ;
	color         : #023047  ;
	font-size     : 25px     ;
	font-weight   : 800      ;

	display       : flex     ; 
	align-items   : center   ;
	padding-top   : 8px      ;
}

input#pointage_month{
	height        : 35px     ;
	padding       : 2px 30px ;
	margin        : 0 35px 0 20px      ; 

	border        : 2px solid  #023047 ; 
	border-radius : 6px      ;
}

button#search_pointage_month_button{
	height        : 35px     ;
	background    : #023047  ;
	color         : white    ;

	padding       : 5px 16px ;
	border-radius : 6px      ;
	outline       : none     ;
	border        : none     ;
}




#attendance_table_container {
    overflow-x: auto;
}

#attendance_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#attendance_table th,
#attendance_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#attendance_table td:hover{
	background      : #e0e0e0 ;
}

#attendance_table th {
    	background-color: #023047 ;
	color           : white   ;
    	font-weight     : bold    ;
}

#attendance_table td:first-child {
   	background-color : #219EBC ;
	color            : black   ;

	text-align       : left    ;
	font-weight      : bold    ;
}

@media screen and (max-width: 600px) {
    #top_action_bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .top_bar_item {
        margin-bottom: 10px;
    }

    #pointageForm {
        flex-direction: column;
        align-items: flex-start;
    }
}
